
.defaultButton {
-fx-background-color:#f8f8f8;
}
.defaultInput {
-fx-background-color:#FBFBFB;
-fx-border-color:rgba(0,0,0,0.8);
-fx-padding:5px;
}
.defaultInput:focused {
-fx-faint-focus-color:transparent;
-fx-focus-color:rgba(18, 79, 27,0.3);
}
#registerButton {
-fx-border-color:rgba(0,0,0,0.8);
}
#registerButton:pressed {
-fx-scale-x: 0.9;
-fx-scale-y: 0.9;
}
#registerButton:hover {
-fx-background-color:#5AA61E;
-fx-border-color:transparent;
-fx-text-fill:#Ffffff;
}
#signInButton {
-fx-background-color:#2E2D2D;
-fx-text-fill:#FFFFFF;
-fx-background-radius:0px;
}
#signInButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
#signInbutton:hover {
    -fx-scale-y: 1.1;
}

#closeButton:pressed {
    -fx-font-size:12;
}

#minButton:pressed {
    -fx-font-size:12;
}
